# Anova

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats


%matplotlib inline

In [25]:
df = pd.read_csv("testdata.csv", sep=";")
df.head()

   female   man
0      34  45.0
1      36  33.0
2      41  35.0
3      43  39.0
4      44  42.0

## Describe data

In [26]:
print(df)

   female   man
0      34  45.0
1      36  33.0
2      41  35.0
3      43  39.0
4      44  42.0
5      37   NaN

In [27]:
# Add hour column
# Display basic descriptive statistics for each column
print("Descriptive statistics:")
print(df.describe())

Descriptive statistics:
          female       man
count   6.000000   5.00000
mean   39.166667  38.80000
std     4.070217   4.91935
min    34.000000  33.00000
25%    36.250000  35.00000
50%    39.000000  39.00000
75%    42.500000  42.00000
max    44.000000  45.00000

In [28]:

# Assuming the CSV has two columns named 'Group1' and 'Group2'
female = df.iloc[:, 0].dropna()
man = df.iloc[:, 1].dropna()


headerOne = list(df.columns.values)[0]
headerTWO = list(df.columns.values)[1]


print(headerOne)
significance_level = 0.05 # Testing level.

female

#

### Two-sided alternative hypothesis 

Null hypothesis is defined to be: These two mean value are not different from each other. <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 = 0 <br>
H_1 = μ_1 - μ_2 ≠ 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [29]:
# Anova
f_stat, p_value = stats.f_oneway(female, man)

print(f"Anova t-test results:")
print(f"F-statistic: {f_stat}")
print(f"P-value: {p_val}")

Anova t-test results:
F-statistic: 0.018370755242159958
P-value: 0.8951689966739856

In [30]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level, that these two mean are difference")
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 <= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [31]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(female, man, alternative='greater')

print("\nWelch's t-test results:")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

NameError: name 'mannwhitneyu' is not defined

In [ ]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that  " + headerOne + "mean is less than" + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 >= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

In [ ]:
# Perform Welch's t-test
'''


'''

u_stat, p_value = mannwhitneyu(female, man, alternative='less')

print("\nWelch's t-test results:")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 0.1330
p-value: 0.6039

In [ ]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that " + headerOne + " mean is greater than " + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis