# unpooled t-test for 2 samples test that do not share same varians (Welch's t-test)

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind


%matplotlib inline

In [50]:
df = pd.read_csv("data/singleRun.csv", sep=";")
df.head()

   Baad 1 (sec)  Baad 3 (sec)
0            32            25
1            30            26
2            30            27
3            27            31

In [51]:
# Display basic descriptive statistics for each column
print("Descriptive statistics:")
print(df.describe())

Descriptive statistics:
       Baad 1 (sec)  Baad 3 (sec)
count      4.000000      4.000000
mean      29.750000     27.250000
std        2.061553      2.629956
min       27.000000     25.000000
25%       29.250000     25.750000
50%       30.000000     26.500000
75%       30.500000     28.000000
max       32.000000     31.000000

In [52]:
# Assuming the CSV has two columns named 'Group1' and 'Group2'
group1 = df.iloc[:, 0].dropna()
group2 = df.iloc[:, 1].dropna()

headerOne = list(df.columns.values)[0]
headerTWO = list(df.columns.values)[1]


print(headerOne)
significance_level = 0.05 # Testing level.

Baad 1 (sec)

### Two-sided alternative hypothesis 

Null hypothesis is defined to be: These two mean value are not different from each other. <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 = 0 <br>
H_1 = μ_1 - μ_2 ≠ 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [53]:
# Perform Welch's t-test
t_stat, p_value = ttest_ind(group1, group2, equal_var=False, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 1.4963
p-value: 0.1880

In [54]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level, that these two mean are difference")
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 <= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [55]:
# Perform Welch's t-test
t_stat, p_value = ttest_ind(group1, group2, equal_var=False, alternative='greater')

print("\nWelch's t-test results:")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 1.4963
p-value: 0.0940

In [56]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that  " + headerOne + "mean is less than" + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 >= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

In [57]:
# Perform Welch's t-test
t_stat, p_value = ttest_ind(group1, group2, equal_var=False, alternative='less')

print("\nWelch's t-test results:")
print(f"t-statistic: {t_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 1.4963
p-value: 0.9060

In [58]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that " + headerOne + " mean is greater than " + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis