# MannWhitney U-test (not asumming Guassian distribution)

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import mannwhitneyu


%matplotlib inline

In [17]:
group = pd.read_csv("../../data/Groupboat.csv", sep=";")
single = pd.read_csv("../../data/singleRun.csv", sep=";")

group.head()
single.head()

   Baad 1 (sec)  Baad 3 (sec)
0            32            25
1            30            26
2            30            27
3            27            31

## Describe data

In [18]:
# Assuming the CSV has two columns named 'Group1' and 'Group2'
boatOneSingle = single.iloc[:, 0].dropna()
BoatTwoSingle = single.iloc[:, 1].dropna()

boatOneGroup = group.iloc[:, 0].dropna()
BoatTwoGroup = group.iloc[:, 1].dropna()

In [19]:
# Add hour column
# Display basic descriptive statistics for each column
#print("Descriptive statistics:")
#print(df.describe())

#latex_str = df.describe().to_latex(index=True)  # index=False fjerner indekskolonnen


#print(latex_str)

In [20]:

# Assuming the CSV has two columns named 'Group1' and 'Group2'
#female = df.iloc[:, 0].dropna()
#man = df.iloc[:, 1].dropna()


#headerOne = list(df.columns.values)[0]
#headerTWO = list(df.columns.values)[1]


#print(headerOne)
significance_level = 0.05 # Testing level.

#

### Two-sided alternative hypothesis 

Null hypothesis is defined to be: These two mean value are not different from each other. <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 = 0 <br>
H_1 = μ_1 - μ_2 ≠ 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [21]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(boatOneSingle, boatOneGroup, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 30.0000
p-value: 0.1565

In [22]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level, that these two mean are difference")
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

In [24]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(boatOneSingle, BoatTwoGroup, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 28.0000
p-value: 0.2633

In [25]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level, that these two mean are difference")
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

In [26]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(BoatTwoSingle, BoatTwoGroup, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 10.0000
p-value: 0.1610

In [28]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(BoatTwoSingle, boatOneGroup, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 10.0000
p-value: 0.1570

In [29]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that " + headerOne + " mean is greater than " + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis