# MannWhitney U-test (not asumming Guassian distribution)

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import mannwhitneyu


%matplotlib inline

In [13]:
# 
df = pd.read_csv("../../data/Groupboat.csv", sep=";")
df.head()

   boat 1 Front (seconds)   boat 3 front (second)
0                       29                      28
1                       29                      29
2                       29                      28
3                       28                      29
4                       29                      29

## Describe data

In [14]:
print(df)

   boat 1 Front (seconds)   boat 3 front (second)
0                       29                      28
1                       29                      29
2                       29                      28
3                       28                      29
4                       29                      29
5                       28                      29
6                       28                      29
7                       29                      30
8                       29                      29
9                       28                      30

In [15]:
# Add hour column
# Display basic descriptive statistics for each column
print("Descriptive statistics:")
print(df.describe())

latex_str = df.describe().to_latex(index=True)  # index=False fjerner indekskolonnen


print(latex_str)

Descriptive statistics:
       boat 1 Front (seconds)   boat 3 front (second)
count                10.000000               10.000000
mean                 28.600000               29.000000
std                   0.516398                0.666667
min                  28.000000               28.000000
25%                  28.000000               29.000000
50%                  29.000000               29.000000
75%                  29.000000               29.000000
max                  29.000000               30.000000
\begin{tabular}{lrr}
\toprule
 & boat 1 Front (seconds)  & boat 3 front (second)  \\
\midrule
count & 10.000000 & 10.000000 \\
mean & 28.600000 & 29.000000 \\
std & 0.516398 & 0.666667 \\
min & 28.000000 & 28.000000 \\
25% & 28.000000 & 29.000000 \\
50% & 29.000000 & 29.000000 \\
75% & 29.000000 & 29.000000 \\
max & 29.000000 & 30.000000 \\
\bottomrule
\end{tabular}

In [16]:

# Assuming the CSV has two columns named 'Group1' and 'Group2'
female = df.iloc[:, 0].dropna()
man = df.iloc[:, 1].dropna()


headerOne = list(df.columns.values)[0]
headerTWO = list(df.columns.values)[1]


print(headerOne)
significance_level = 0.05 # Testing level.

boat 1 Front (seconds)

#

### Two-sided alternative hypothesis 

Null hypothesis is defined to be: These two mean value are not different from each other. <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 = 0 <br>
H_1 = μ_1 - μ_2 ≠ 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [17]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(female, man, alternative='two-sided')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 34.0000
p-value: 0.1783

In [18]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level, that these two mean are difference")
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 <= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

we want to check, to see if we can consider these two mean value to be identical.

In [19]:
# Perform Welch's t-test
u_stat, p_value = mannwhitneyu(female, man, alternative='greater')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 34.0000
p-value: 0.9240

In [20]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that  " + headerOne + "mean is less than" + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis

### One-sided alternative hypothesis 

Null hypothesis is defined to be: does  <br>

(μ) == mean <br>
H_0 μ_1 - μ_2 >= 0 <br>
H_1 = μ_1 - μ_2 > 0 <br>

In [21]:
# Perform Welch's t-test
'''


'''

u_stat, p_value = mannwhitneyu(female, man, alternative='less')

print("\nWelch's t-test results:")
print(f"t-statistic: {u_stat:.4f}")
print(f"p-value: {p_value:.4f}")

Welch's t-test results:
t-statistic: 34.0000
p-value: 0.0892

In [22]:
if p_value < significance_level: 
    print("since the P value is less than the significance value, we reject the null hypothesis, and conclude that with 95 % signicance level that " + headerOne + " mean is greater than " + headerTWO)
else:
     print("since the P value is greater than the significance value, we cannot reject the null hypothesis")

since the P value is greater than the significance value, we cannot reject the null hypothesis